---
---

//
// COLORS
// --------------------------------------

\:root
  --bg: hsl(0, 0%, 95%)
  --fg: hsl(0, 0%, 5%)
  --html: hsl(0, 0%, 90%)
  --link: hsl(240, 100%, 50%)
  --tenue: hsl(0, 0%, 30%)

@media (prefers-color-scheme: dark)
  \:root
    --bg: hsl(0, 0%, 5%)
    --fg: hsl(0, 0%, 95%)
    --html: hsl(0, 0%, 10%)
    --link: hsl(380, 100%, 50%)
    --tenue: hsl(0, 0%, 70%)

//
// BASIC
// --------------------------------------

html
  overflow-y: scroll

html,
header,
footer
  background: var(--html)
  color: var(--fg)
  font-family: sans

header,
footer,
section
  padding: 1rem

body
  margin: 0
  padding: 0
  font-size: 16px

section
  background: var(--bg)

a
  &:link,
  &:visited
    color: var(--link)
    text-decoration: none
  &:hover
    border-bottom: 1px solid var(--link)
  &:active
    opacity: 50%

//
// KARRELLO
// --------------------------------------

button,
select
  cursor: pointer
  &:disabled
    cursor: not-allowed

a#cart-link
  position: absolute
  top: 3rem
  right: 1rem

fieldset#buy_box
  display: inline
  color: var(--tenue)
  span
    color: var(--fg)

table#cart
  border-collapse: collapse
  margin-bottom: 3rem
  span:not(#subtotal)
    display: block
    margin: .3rem 0
  td,
  th
    padding: 1rem
  tbody td
    text-align: center
    &:first-child
      text-align: left
  tbody tr:not(:last-child) td
    border-bottom: 1px solid var(--html)
  thead, tfoot
    background: var(--html)
  tr.empty-cart:not(:only-child)
    display: none

#paypal-button .paypal-button-logo
  background-color: white